<div id="sidebar" class=" container hide-mobile-portrait hide-mobile-landscape">
    <div class="sidebar-box widget_text clearfix"><h4><span>Fashionista</span></h4>			<div class="textwidget">Welcome to Fashionista. A one of a kind premium WordPress theme elegantly crafted by WPExplorer. Perfect for blogs, portfolio or personal sites show off your awesome photos and content with Fashionista</div>
    </div>              <div class="sidebar-box widget_wpex_recent_posts_thumb clearfix">                  <h4><span>Recent Posts</span></h4>							<ul class="wpex-widget-recent-posts">
            <li class="clearfix">
                <a href="http://wpexplorer-demos.com/fashionista/get-her-new-song/" title="Get Her New Song"><img src="http://wpexplorer-demos.com/fashionista/wp-content/uploads/sites/14/2012/09/rockers-girlfriend-80x80.jpg" alt="Get Her New Song"></a>
                <div class="recent-right">
                    <a href="http://wpexplorer-demos.com/fashionista/get-her-new-song/" title="Get Her New Song" class="title">Get Her New Song</a>
                    <div class="date"><span class="icon-calendar"></span>September 18, 2012</div>
                    <div class="cat"><span class="icon-folder-open"></span>Celebs</div>
                    <div class="likes"><a href="#" class="zilla-likes" id="zilla-likes-102" title="Like this"><span class="zilla-likes-count">350</span> <span class="zilla-likes-postfix"></span></a></div>                                        </div>
            </li>
            <li class="clearfix">
                <a href="http://wpexplorer-demos.com/fashionista/bold-outerwear/" title="Bold Outerwear"><img src="http://wpexplorer-demos.com/fashionista/wp-content/uploads/sites/14/2012/09/zphotodune-1303204-fashion-woman-m-80x80.jpg" alt="Bold Outerwear"></a>
                <div class="recent-right">
                    <a href="http://wpexplorer-demos.com/fashionista/bold-outerwear/" title="Bold Outerwear" class="title">Bold Outerwear</a>
                    <div class="date"><span class="icon-calendar"></span>September 18, 2012</div>
                    <div class="cat"><span class="icon-folder-open"></span>Fashion</div>
                    <div class="likes"><a href="#" class="zilla-likes" id="zilla-likes-106" title="Like this"><span class="zilla-likes-count">202</span> <span class="zilla-likes-postfix"></span></a></div>                                        </div>
            </li>
            <li class="clearfix">
                <a href="http://wpexplorer-demos.com/fashionista/hot-accessory-scarves/" title="Hot Accessory: Scarves"><img src="http://wpexplorer-demos.com/fashionista/wp-content/uploads/sites/14/2012/09/zphotodune-2857325-fashionable-woman-with-sunglasses-m-80x80.jpg" alt="Hot Accessory: Scarves"></a>
                <div class="recent-right">
                    <a href="http://wpexplorer-demos.com/fashionista/hot-accessory-scarves/" title="Hot Accessory: Scarves" class="title">Hot Accessory: Scarves</a>
                    <div class="date"><span class="icon-calendar"></span>September 18, 2012</div>
                    <div class="cat"><span class="icon-folder-open"></span>Fashion</div>
                    <div class="likes"><a href="#" class="zilla-likes" id="zilla-likes-115" title="Like this"><span class="zilla-likes-count">120</span> <span class="zilla-likes-postfix"></span></a></div>                                        </div>
            </li>
            <li class="clearfix">
                <a href="http://wpexplorer-demos.com/fashionista/moving-in-together/" title="Moving in Together"><img src="http://wpexplorer-demos.com/fashionista/wp-content/uploads/sites/14/2012/09/photodune-2361374-new-home-m-80x80.jpg" alt="Moving in Together"></a>
                <div class="recent-right">
                    <a href="http://wpexplorer-demos.com/fashionista/moving-in-together/" title="Moving in Together" class="title">Moving in Together</a>
                    <div class="date"><span class="icon-calendar"></span>September 18, 2012</div>
                    <div class="cat"><span class="icon-folder-open"></span>Love</div>
                    <div class="likes"><a href="#" class="zilla-likes" id="zilla-likes-96" title="Like this"><span class="zilla-likes-count">73</span> <span class="zilla-likes-postfix"></span></a></div>                                        </div>
            </li>
        </ul>
    </div>        <div class="sidebar-box widget_categories clearfix"><h4><span>Categories</span></h4>		<ul>
            <li class="cat-item cat-item-2"><a href="http://wpexplorer-demos.com/fashionista/category/advice/" title="Advice and secrets">Advice</a>
            </li>
            <li class="cat-item cat-item-3"><a href="http://wpexplorer-demos.com/fashionista/category/beauty/" title="Hair and makeup tips">Beauty</a>
            </li>
            <li class="cat-item cat-item-4"><a href="http://wpexplorer-demos.com/fashionista/category/celebs/" title="Famous models and celebrities">Celebs</a>
            </li>
            <li class="cat-item cat-item-5"><a href="http://wpexplorer-demos.com/fashionista/category/fashion/" title="All about fashion">Fashion</a>
            </li>
            <li class="cat-item cat-item-6"><a href="http://wpexplorer-demos.com/fashionista/category/love/" title="Rock your love life">Love</a>
            </li>
        </ul>
    </div><div class="sidebar-box widget_tag_cloud clearfix"><h4><span>Tag Cloud</span></h4><div class="tagcloud"><a href="http://wpexplorer-demos.com/fashionista/tag/art/" class="tag-link-7" title="19 topics" style="font-size: 22pt;">art</a>
            <a href="http://wpexplorer-demos.com/fashionista/tag/fashion-2/" class="tag-link-8" title="19 topics" style="font-size: 22pt;">fashion</a>
            <a href="http://wpexplorer-demos.com/fashionista/tag/make-up/" class="tag-link-9" title="19 topics" style="font-size: 22pt;">make up</a>
            <a href="http://wpexplorer-demos.com/fashionista/tag/models/" class="tag-link-10" title="19 topics" style="font-size: 22pt;">models</a>
            <a href="http://wpexplorer-demos.com/fashionista/tag/music/" class="tag-link-11" title="19 topics" style="font-size: 22pt;">music</a>
            <a href="http://wpexplorer-demos.com/fashionista/tag/photos/" class="tag-link-12" title="19 topics" style="font-size: 22pt;">photos</a>
            <a href="http://wpexplorer-demos.com/fashionista/tag/products/" class="tag-link-13" title="1 topic" style="font-size: 8pt;">products</a>
            <a href="http://wpexplorer-demos.com/fashionista/tag/reviews/" class="tag-link-14" title="1 topic" style="font-size: 8pt;">reviews</a></div>
    </div>                    </div>
