/* Apply To All Responsive Layouts
================================================== */
@media only screen and (max-width: 959px) {
	
	/*special hide class*/
	.hide-all-devices{ display: none; }
	
	/*hide stuff*/
	#navigation,
	#navigation #searchbar{ display: none !important; }
	.entry-overlay { display: none !important; }
	
	/*navigation*/
	.mobile-menu-toggle { display: block; height: 40px; line-height: 40px; padding-left: 20px; color: #666; position: inherit; right: auto; bottom: auto; margin: 0 0 20px; text-transform: uppercase; border: 1px solid #ddd; -moz-border-radius: 2px; -khtml-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; background: #f7f7f7; background: -moz-linear-gradient(top,  #fefefe 0%, #f7f7f7 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#f7f7f7));background: -webkit-linear-gradient(top,  #fefefe 0%,#f7f7f7 100%);background: -o-linear-gradient(top,  #fefefe 0%,#f7f7f7 100%);background: -ms-linear-gradient(top,  #fefefe 0%,#f7f7f7 100%);background: linear-gradient(to bottom,  #fefefe 0%,#f7f7f7 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f7f7f7',GradientType=0 ); position: relative; }
	.mobile-menu-toggle span.icon-reorder { margin-right: 10px; }
	.mobile-menu-toggle span.icon-caret-down { position: absolute; right: 20px; top: 0; height: 40px; line-height: 40px; display: block;  font-size: 10px; }
	.mobile-menu-toggle:hover { text-decoration: none; color: #000; }
	.sidr { position: absolute; position: fixed; top: 0; height: 100%; z-index: 999999; width: 320px; overflow-x: none; overflow-y: auto;font-size: 13px; background: #333; color: #fff; }
	#sidr-main { padding: 40px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
	.sidr.right { left: auto; right: -320px; }
	.sidr.left { left: -320px; right: auto; }
	.sidr a { color: #707070; }
	.sidr a:hover { color: #fff; text-decoration: none; }
	.sidr ul li ul { border-top: 1px solid rgba(255, 255, 255, 0.1); margin-bottom: -8px; margin-left: 0; margin-top: 10px; }
	.sidr ul li ul li a { background: url("../images/caret.png") 12px center no-repeat; padding-left: 30px; }
	.sidr-class-toggle-sidr-close { display: block; height: 19px; width: 24px; background: url("../images/bars.png"); margin-bottom: 20px; }
	li.sidr-class-menu-item { border-bottom: 1px solid rgba(255,255,255,0.1); padding: 8px 0; }
	ul.sidr-class-sub-menu li.sidr-class-menu-item:last-child { border-color: transparent; }
	#sidr-id-searchbar { margin-top: 30px; }
	#sidr-id-searchbar input { border-radius: 3px; -webkit-appearance: none !important; outline: none; border: none; background: #222; color: #999; }
	#sidr-id-searchsubmit { display: none; }
	
	/*display dropdown nav*/
	#navigation .selector { display: inline-block; }
	
	/*main*/
	#wrap { padding: 0; }
	
}


/* #Tablet (Landscape) = Design for a width of 720px
================================================== */
@media only screen and (min-width : 768px) and (max-width : 1024px) {
	
	/*special hide class*/
	.hide-tablet-landscape{ display: none; }

}


/* #Tablet (Portrait) = Design for a width of 720px
================================================== */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	
	/*special hide class*/
	.hide-tablet-portrait{ display: none; }
	
	/*grid*/
	.outerbox{ width: 720px; }
	.loop-entry{ width: 350px; }
	
	/*main*/
	#post{ width: 430px }
	#sidebar{ width: 260px }
	.wpex-widget-recent-posts .recent-right{ width: 130px; }
	#footer .wpex-widget-recent-posts .recent-right{ width: 130px; }
	
	/*homepage with sidebar*/
	.home-sidebar .loop-entry{ width: 205px;  }
	.home-sidebar .loop-entry-meta li{ display: block; float: none; margin-bottom: 5px; }
	.home-sidebar .loop-entry-meta li:last-child{ margin:0; }
	
	/*footer*/
	.footer-box{ width: 226px; margin-right: 21px; }
	
	/*blog*/
	#author-bio{ width: 310px }
	body.no-sidebar #author-bio{ width: 600px; }

}



/* Mobile (Portrait) = Design for a width of 280px
================================================== */

@media only screen and (max-width: 767px) {
	
	/*hide*/
	.hide-mobile-portrait{ display: none; }
	#single-nav{ display: none; }
	
	/*grid*/
	.outerbox{ width: 280px; }
	#sidebar{ width: 280px; }
	.loop-entry{ width: 280px; margin-right: 0; margin-bottom: 20px }
	
	/*main*/
	#post{ width: 100%; }
	#sidebar{ width: 100%; }
	#sidebar{ margin-top: 30px; padding-top: 30px; border-top: 4px solid #ddd; }
	
	/*header*/
	#header-social{ position: inherit; top: auto; right: auto; text-align: center; margin-top: -10px; margin-bottom: 20px; }
	#header-social li, #header-social a{ display: inline-block; }
	#logo{ text-align: center; }
	#logo a{ display: inline-block; float: none; }
	
	/*blog*/
	#related-posts .alignleft{ max-width: 30% }
	.related-entry-excerpt{ display: none; }
	#author-bio{ width: 155px; }
	body.no-sidebar #author-bio{ width: 155px; }
	.meta li, .loop-entry-meta li{ display: block; float: none; margin-bottom: 5px; }
	.meta li:last-child, .loop-entry-meta li:last-child{ margin:0; }
		
	/*search*/
	.search-entry-text{ width: 100%; margin-top: 25px; }
	
	/*footer*/
	.footer-box{ width: 100%; margin-right: 0; }
	#footer-bottom, #footer-menu{ text-align: center; }
	#footer-menu{ margin-top: 5px; }
	#copyright,
	.footer-menu{ width: 100%; float: none; }
	.footer-menu{ margin-top: 10px; text-align: center; }
	
	/*comments*/
	.children { margin: 30px 0 0; }
	.children li.depth-2,
	.children li.depth-3,
	.children li.depth-4,
	.children li.depth-5,
	.children li.depth-6,
	.children li.depth-7,
	.children li.depth-8,
	.children li.depth-9,
	.children li.depth-10 { margin: 0 }
       
}


/* Mobile (Landscape) = Design for a width of 440px
================================================== */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	/*special hide class*/
	.hide-mobile-portrait{ display: block; }
	.hide-mobile-landscape{ display: none; }
	
	/*main*/
	.outerbox{ width: 440px; }
	#sidebar{ width: 440px; }
	.loop-entry{ width: 440px; margin-right: 0; margin-bottom: 20px }
	.wpex-widget-recent-posts .recent-right{ float: right; width: 330px; }
	#footer .wpex-widget-recent-posts .recent-right{ width: 330px; }
	
	/*blog*/
	#author-bio{ width: 310px }
	body.no-sidebar #author-bio{ width: 315px; }
		
}